.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; } 
.headline-sm { margin-bottom: 20px; font-size: 36px; font-weight: 700; line-height: 1.5; } 
.desc { font-size: 16px; font-weight: 400; line-height: 1.75; } 


/* 반응형 */
@media (max-width:750px){
 .headline-sm { font-size: 30px; line-height: 1.4; } 
 }